# Dependencies
node_modules/

# Next.js
.next/
out/

# Vercel
.vercel/

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal

/app/generated/prisma
.vercel
